header img { 
    min-width: 35px;
    padding-bottom: 20px;
 }
body 
  { 
    max-width:550px;
    background-color: rgb(120, 187, 196);
    margin: auto;
    
   }
main {
    color:rgb(104, 104, 116);
    font-family: 'Lora', serif;
    line-height: 1.5rem;
}
header 
  {
    background-color:rgb(245, 180, 107);
    color: white;
    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
    padding: 15px;

  }


footer 
  {
    text-align:center;
    background-color:rgb(245, 180, 107);
    color:white;
    font-family: 'Be Vietnam', sans-serif;
    padding-top:7px;
    padding-bottom:7px;

  }

  #course-name {
    border-bottom-style: solid;
    border-bottom-color:rgb(104, 104, 116);
    border-bottom-width: 2px;
  }

  h1
  {
      padding-top:12px;
      margin: 0px;
  }
  
 