
<style>
    body 
        { color:midnightblue;
        width:48%;
        flex: 1.0 15em;
        margin: .5em;
        }
    header 
        { background-color:lightgray;
        }
    footer 
        { background-color:lightgray;
        }
</style>