img { 
    position: relative;
    bottom:50px;
    float:right;
    padding-bottom:150px;
    padding-right:25px;
 }
body 
  { 
    width:48%;
    
   }
main {
    color:rgb(104, 104, 116);
}
header 
  {
    background-color:midnightblue;
    color: lavenderblush;
    font-family: "Century Gothic" , calibri;
    text-align:center;

  }
footer 
  {
    background-color:midnightblue;
    color:lavenderblush;
  }

  #course-name {
    border-bottom-style: solid;
    border-bottom-color:rgb(104, 104, 116)
  }