<!DOCTYPE HTML>
<style>
    body { color:midnightblue;
        width:48%;
      }
    header { background-color:lightgray;
      }
    main { background-color:lavenderblush;
       }
    footer { background-color:lightgray;
      }
  </style>