/*********GENERAL STYLES******************/

body{
    font-family: 'Baskervville', serif;
    margin: 0 auto;
    max-width: 1400px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Dancing Script', cursive;
    color:#ff6b6b;
}
p{
    color:#1a535c;
}

/***************HEADER********************/
header{
    margin: 20px 0 30px 0;
    line-height: 1.75em;
    display: flex;
    align-content: center;
    justify-content: center;
}
header div#site-title{
    margin: 10px;
}
header h1{
    color: #000000;
    font-family: 'Baskervville', serif;
    border-bottom: solid 3px #ff6b6b;
    margin-bottom:-5px;
    padding-left: 5px;
    padding-right: 5px;
}
header h2{
    color: #000;
    font-family: 'Dancing Script', cursive;
    letter-spacing: .325rem;
    line-height:0;
    padding-left: 12px;
}
img#logo{
    width: 100px;
}

/*************NAVIGATION****************/
nav{
    border-bottom: solid 2px #1a535c;
    text-transform: uppercase;
   
}
nav ul{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 0px;
    
}
nav ul li a{
    text-decoration: none;
    color: #1a535c
}
nav ul li#active{
    background-color: #1a535c;
}
nav ul li#active a{
    color:#fff;
}
nav ul li{
    list-style-type: none;
    padding: 8px;
    border: hidden;
    border-radius: 5px;
    margin: 3px;
}
nav ul li a:hover{
    border: solid 5px #ffe66d;
    padding: 3px;
}
.navigation li:first-child{
    display: block;
}
.navigation li{
    display: block;
}
/*************MAIN****************/
main{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}
main h2{
    font-size: 2em;
}
main h3{
    font-size: 1.75em;
}
main h4{
    font-size: 1.5em;
}
main h5{
    font-size: 1.25em;
}
main h6{
    font-size: 1em;
}
/**********HOME PAGE************/
img#temple-home{
    width:100%;
    position: relative;
}
div#reserve-button{
    border:hidden;
    border-radius: 4px;
    background-color:rgba(255, 255, 255, .85);
    position: absolute;
    bottom: 10%;
    padding: 20px;
    margin: 5%;
    box-shadow: 2px 2px 10px #514F4F;
}
a div#reserve-button{
    color: #ff6b6b;
    text-transform: uppercase;
    font-size: 1.25em;
}

div#reserve-button:hover{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 20px #514F4F;
 
}
p#number{
    font-size: 1.5rem;
}
p span.first-letter{
    color:#ff6b6b;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}
p#highlight-temple{
    font-size: 1.25rem;
    
}

section#temple-highlight{
    display:flex;
}
img#newport-temple-img{
    width: 400px;
}
figcaption{
    padding-left: 15px;
    color: #1a535c;
    font-style: italic;
    font-size: .9em;
}
p#newport-p{
    margin-top:-10px;
}
/*************RESERVATION PAGE***************/
form fieldset legend{
    font-size: 1.4em;
    color:#4ecdc4;
    margin: 20px;
    padding:10px;
}
fieldset{
    margin-bottom: 20px;
    padding: 10px;
    border: solid 2px #1a535c;
    border-radius: 4px;
    display:flex;
    flex-flow: column;
}
label{
    margin: 10px;
    font-size: 1.15em;
    color: #1a535c;
}
label input{
    margin:10px;
    padding: 3px;
    border-radius:5px;
}
label span{
    color:red;
}
.req{
    background-color: rgb(250, 226, 226);
}
textarea{
    border-radius: 5px;
    border: solid 1px #1a535c;
}
.btn{
    color:white;
    background-color: #4ecdc4;
    padding: 15px;
}
.btn:hover{
    box-shadow: 2px 2px 10px #514F4F;
    color: #ffe66d;
}
label.comments{
    width: 20%;
}
/************SERVICES**********/
li.serv-li{
    color:#1a535c;
}
div.one-half-width{
width: 50%;
}

main section#image-links{
    display:flex;
    flex-flow: row;
    justify-content: center;
}
a.link figure img{
    height: 141px;
}
a.link{
    color: #4ecdc4;
    font-size: 1.1em;
    font-style: italic;
}
a.link:hover{
    color:#ffe66d;
    font-style: initial;
}
/***********RECEPTION HALL***********/

a.link figure img:hover{
    opacity:.5;
}
div.rec-div{
    display:flex;
    margin: 20px;
}
div.rec-div p{
    padding: 10px;
}
/**************MISSIONARY SUITES**************/
#grid-holder{
    display:grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
}
div.comments{
    display:flex;
    flex-direction: column;
}
div.comments label{
    margin-bottom: 10px;
}
label input{
    width: 50%;
}
/*****************CONTACT*********************/
address{
    color: #1a535c;
    font-style: normal;
    display:inline;
}
.larger{
    font-size: 1.15em;
}
section#contact{
    display:flex;
}
#map{
    margin:20px;
}
/*****************TEMPLE PAGE****************/
section.temple-json{
    display:flex;
}
h2.name{
    padding: 15px;
    border-top: solid 5px #ffe66d;
}
p span.title{
    font-size:1.15em;
}
section.temple-json div{
    width: 40%;
    margin: 20px;
}
section.temple-weather{
    display:flex;
    justify-content: space-between;
}
/******************FOOTER********************/
footer{
border-top: solid 2px #1a535c;
color: #1a535c;
font-size: 1.2em;
text-align: center;
margin: 20px 0;
padding:5px;
}

@media only screen and (min-width:900px) {
    .navigation li:first-child{
        display:none;
    }
    header h2{
        display:block;
    }
}