@media only screen and (max-width: 900px){ 
    .navigation li{
        display:block;
    }
    .responsive li{
        display:none;
        padding: 5px;
    }
    ul.navigation{
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }
    ul li.ham{
        font-size: 2em;
    }
    section{
        flex-direction: column;
    }
    img#newport-temple-img{
        width: 100%;
    }
    #grid-holder{
        grid-template-columns: 1fr 1fr;
    }
    header h2{
        display:none;
    }
    main section#image-links{
        flex-flow: column;
        justify-content: center; 
    }
    a.link figure img{
        height: initial;
    }

    section#contact{
        flex-flow: column;
    }
    #map{
        margin:10px;
        width:100%;
    }
    div.rec-div{
        flex-direction: column;
        
    }
    div.rec-div img#one{
    width: 300px;
    padding: 20px;
    }
    div.rec-div img#cater{
        width: 230px;
        padding: 20px;
    }
}

