@media only screen and (max-width: 600px){ 
    #grid-holder{
        grid-template-columns: 1fr;
    }
    #grid-holder img{
        width: 75%;
    }
    header h1{
        display:none;
    }
    div.rec-div img#one{
        width: 200px;
        }
        div.rec-div img#cater{
            width: 150px;
        }
}