body{
    font: size 20;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(142, 180, 187);
    margin:16px;
}

main{
    display: grid;
    grid-gap: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

section{
    background-color: #fcf6e5;
    padding:15px;
    border-style:hidden;
    border-radius:5px;
    
}

.heading{
    font-family: 'Rubik', sans-serif;
}
/*mobile view or baseline views*/

main{
     margin: auto;
}
 h2
 {  
     text-align: center;
     color:#fca17d;
 }

 h3{
     color:#77b280;
     text-align: center;
 }



 .sites{

     margin:auto;
     display:flex;
     justify-content: center;
     align-items: flex-end;
 }

 .images{
     margin:auto;
     display:flex;
     justify-content: center;
 }

/*tablet view*/
@media only screen and (max-width:1000px)
{
    main{
    grid-template-columns: 1fr 1fr;
    }
}


/* Desktop view*/
@media only screen and (max-width:625px)
{
    main{
     grid-template-columns: 1fr;
    }
}