body{
    font: size 20;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(142, 180, 187);
    margin:16px;
}

h1{
    text-align: center;
}
main{
    display: grid;
    grid-gap: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    line-height:25px;
    
}


section{
    background-color: #fcf6e5;
    padding:15px;
    border-style:hidden;
    border-radius:5px;
    
}

.heading{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    
}
/*mobile view or baseline views*/

main{
     margin: auto;
}
 h2
 {  
     
     color:#fca17d;
     
 }

 h3{
     color:#77b280;
     
 }



 .sites{

     margin:auto;
     display:flex;
     justify-content: center;
     align-items: flex-end;
 }


 .images{
     margin:auto;
     display:flex;
     justify-content: center;
 }

/*tablet view*/
@media only screen and (max-width:980px)
{
    main{
    grid-template-columns: 1fr 1fr;
    }
}


/* phone view*/
@media only screen and (max-width:600px)
{
    main{
     grid-template-columns: 1fr;
    }
}