body{
    margin:auto;
}
header{
    width:100%;
    background-color: #0d1321;
    color: #F0ebd8;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    background-color: #3E5C76;
    padding: 1px;
}
nav ul{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: 5px;
    list-style-type: none;
}
nav a:hover{
    background-color: #748cab;
    color: #0D1321;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    color: #F0ebd8;
}
.navigation li:first-child{
    display: block;
}
.navigation li{
    display: none;
}
.responsive li{
    display: block;
}
#header-img{
    width: 150px;
}
#slogan{
    font-style: italic;
    font-size: 12px;
    text-decoration: underline;
}
.headings{
        display:flex;
        flex-direction: column;
        line-height: 1%;
        align-items: center;
        justify-content: center;
        padding:5px;
        margin:10px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 1.3em;
}
main{
    background-color: #F0ebd8;
    color: #0d1321;
    padding:10px;
    max-width: 800px;
    margin:auto;
    font-family: 'Noto Sans', sans-serif;
}
footer{
    background-color: #0d1321;
    color: #F0ebd8;
    padding:10px;
    max-width: 800px;
    margin:auto;
    font-family: 'Noto Sans', sans-serif;
}
main footer{
    max-width: 800px;
}
@media only screen and (min-width:750px)
{
.navigation li:first-child{
    display: none;
}
}
