@media only screen and (max-width:750px)
{
    .navigation li{
        display: none;
    }
    h1{
        font-size: 25px;
    }
    #header-img{
        width:100px;
    }
    #slogan{
        font-size: 10px;
    }
    h2{
        font-size: 22px;
    }
    .responsive li{
        display:block;
        padding:5px;
    }
    ul.responsive{
        flex-direction: column;
        text-align:center;
        padding: 5px;
    }
    #forecast-section, #forecast-header{
        display:none;
    }
}