@media only screen and (max-width: 600px){
main div.towns{
        padding: 5px;
    }
main div.towns article.town-borders{
    flex-direction: column;
}
main div.towns article img{
    width: 50%;
    margin: 10 auto;
}
main div.towns article section p{
    margin-left: 45px;
}
 #storyp{
    font-size: 14px;
    width: 75%;
}

}