@media only screen and (max-width:1000px)
{
    .navigation li{
        display: none;
    }
    h1{
        font-size: 25px;
    }
    #header-img{
        width:100px;
    }
    #slogan{
        font-size: 10px;
    }
    .responsive li{
        display:block;
        padding:5px;
    }
    ul.responsive{
        flex-direction: column;
        text-align:center;
        padding: 5px;
    }
    main div.towns{
    display:flex;
    flex-direction:column;
    margin-right: 25px;
}
    main div.towns article{
        display:flex;
        flex-direction:row;
        width: 100%;
    }
    main div.towns article:nth-child(even){
        flex-direction: row-reverse;
    }
    
    main article img{
        width: 30%;
        margin: 0 auto;
    }


}