@media only screen and (max-width:850px)
{
    .navigation li,{
        display: none;
    }
    h1{
        font-size: 25px;
    }
    #header-img{
        width:100px;
    }
    #slogan{
        font-size: 10px;
    }
    .responsive li{
        display:block;
        padding:5px;
    }
    ul.responsive{
        flex-direction: column;
        text-align:center;
        padding: 5px;
    }
    main div.towns{
        grid-template-columns: 1fr 1fr;
        margin: 2%;
        margin-bottom: 10px;
}
}