body{
    background-color: black;
    color: #fff;
    margin: 0 20px;
}
header, footer{
    font-family: 'Bebas Neue', cursive;
    font-size:2em;
    text-align: center;
}
main{
    font-size:12px;
    font-family: 'Merriweather', serif;
}

div.cards{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

img{
    width: 200px;
    border: 5px inset #fff;
}